<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <svg width="115" height="105" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <g>
                <title>Giphy Share</title>
                <g id="navLogo" fill="#bd93f9" transform="translate(77,15) scale(1.380555510520935) ">
                    <polyline points="-13.825958251953125,-9.416499376296997 4.174043655395508,8.583500385284424 -0.325958251953125,13.083500385284424 -13.825958251953125,-0.41649961471557617 -27.325958251953125,13.083500385284424 -31.825958251953125,8.583500385284424 -13.825958251953125,-9.416499376296997 "
                        id="svg_1" />
                    <polyline points="-4.825958251953125,17.583500385284424 -9.325958251953125,22.083500385284424 -13.825958251953125,17.583500385284424 -18.325958251953125,22.083500385284424 -22.825958251953125,17.583500385284424 -13.825958251953125,8.583500385284424 -4.825958251953125,17.583500385284424 "
                        id="svg_2" />
                    <polyline points="-13.825958251953125,35.583500385284424 -9.325958251953125,31.083500385284424 -4.825958251953125,35.583500385284424 -13.825958251953125,44.583500385284424 -22.825958251953125,35.583500385284424 -18.325958251953125,31.083500385284424 -13.825958251953125,35.583500385284424 "
                        id="svg_3" />
                    <polyline points="4.174043655395508,44.583500385284424 -13.825958251953125,62.583500385284424 -31.825958251953125,44.583500385284424 -27.325958251953125,40.083500385284424 -13.825958251953125,53.583500385284424 -0.325958251953125,40.083500385284424 4.174043655395508,44.583500385284424 "
                        id="svg_4" />
                    <path d="m17.67404,26.58351l-9,-9l-9,9l9,9l9,-9m-27,0l18,-18l18,18l-18,18l-18,-18" id="svg_5" />
                    <path d="m-27.32596,26.58351l-9,-9l-9,9l9,9l9,-9m-27,0l18,-18l18,18l-18,18l-18,-18" id="svg_6" />
                </g>
            </g>
        </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown {{user}}" id="userNav">
               <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span id="navUserName"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary btn-block text-left" href="" id="navUserLink"><i class="fas fa-user"></i> Your profile</a>
                            <button class="btn btn-danger btn-block text-left" id="logoutBtn"><i class="fas fa-sign-out-alt"></i> Logout</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item {{feed}}" id="feedNav">
                <a class="nav-link" id="feedLinkNav" href="">Feed
                </a>
            </li>
            <li class="nav-item {{posts}}">
                <a class="nav-link" href="/posts">Posts </a>
            </li>
            <li class="nav-item dropdown {{login}}" id="loginNav">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Login
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="row">
                        <div class="col">
                            <h6 class="dropdown-header">Login Info:</h6>
                            {{> forms/loginForm}}
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown {{signup}}" id="signUpNav">
               <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Sign Up
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="row">
                        <div class="col">
                            <h6 class="dropdown-header">Signup Info:</h6>
                            {{> forms/signUpForm}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <form action="/search" method="post" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" required name="search" placeholder="Search" aria-label="Search">
            <input id="offset" name="offset" type="hidden" value="1">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>