{{> navs/navBar user="active"}}

{{#if followers}}
    <h2 class="text-secondary">Following:</h2>
    <div class="text-secondary">
        {{#each followers}}
        <ul class="comments rounded">
            <li>
                <p>{{username}}&nbsp;&nbsp;
                <button data-from={{Followers.0.userId}} data-to={{Followers.0.followerId}} class="startConvo btn btn-success btn-sm">
                    <i class="fa fa-envelope"></i> Start a conversation
                </button>
                <button type="submit" data-user={{Followers.0.userId}} data-id={{Followers.0.id}} class="unfollowUserBtn btn btn-outline-danger btn-sm">
                    <i class="fas fa-user-times"></i> Unfollow
                </button>
                </p>
            </li>     
        </ul>
        {{/each}}
    </div>
{{/if}}

<h2 class="text-secondary">Your posts:</h2>
{{#if posts}}
    <div class="card-columns">
        {{#each posts}}
        <a href="/post/{{id}}">
            {{> posts/post multiPost=true profilePost=true}}
        </a>
        {{/each}}
    </div>
{{/if}}